---
import { array, string } from 'astro:schema';

export interface Props {
  title: string;
  pubDate: string;
  tags: string[];
}

const { title, pubDate, tags } = Astro.props;
---

<!-- Card -->
<div class="flex flex-row gap-4">
  <div class="bg-card border-card-line flex rounded-xl border shadow-2xs w-fit">
    <div class="p-4">
      <h3 class="mt-0.5 text-foreground font-semibold">
        {title}
      </h3>
      <p class="text-muted-foreground-1 mt-1 text-xs font-medium uppercase">
        {pubDate}
      </p>
      
      <div class="mt-4 flex gap-2">
        {
          tags.map(item => (
            <span class="inline-flex items-center gap-x-1.5 rounded-full border border-teal-500 px-3 py-1.5 text-xs font-medium text-teal-500">
              {item}
            </span>
          ))
        }
      </div>
    </div>
  </div>
</div>
<!-- End Card -->
